.week-title {
    font-weight: bold;
    margin: 20px
}

.date-separator {
    margin: 5px
}

.previous > button{
    text-decoration: none;
    color: rgba(0,0,0,.5)
}
.previous > button:hover{
    text-decoration: none;
    color: #212529
}

.next > button{
    text-decoration: none;
    color: rgba(0,0,0,.5)
}

.next > button:hover{
    text-decoration: none;
    color: #212529
}